 .checkout-item-container {
     width: 100%;
     display: flex;
     justify-content: space-between;
     min-height: 30px;
     border-bottom: 1px solid darkgrey;
     align-items: center;
     font-size: 13px;
     background-color: #F6F6F6;

     .macros-data {
         min-width: 60px;

         &:first-child {
             float: left;
             width: 40%;
         }

         &:not(:first-child) {
             text-align: center;
         }
     }


     .remove-button {
         cursor: pointer;
         align-items: center;
         min-width: 60px;
         text-align: center;
     }
 }