.data-container {
    display: flex;
    width: 900px;
    margin: auto;

    .user-data {
        width: 300px;
        align-items: center;
        margin: auto;
    }

    .chart {
        text-align: center;
        width: 500px;
        margin: auto;
    }
}