.data-container {
    display: flex;
    width: 900px;
    margin: auto;

    .user-data {
        width: 300px;
        align-items: center;
        margin: auto;
    }

    .chart {
        text-align: center;
        width: 500px;
        margin: auto;
    }
}

.link-buy {
    text-align: center;
    margin: auto;

    &:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out;
    }

    .buy {
        color: blue;
        border-bottom: 1px solid blue;
    }
}