.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
        transform: scale(0.05);
        margin-top: -15px;
    }

    .nav-links-container {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
            font-size: medium;
            text-align: center;
            width: fit-content;


            &:not(:first-child) {
                border-left: 1px solid lightgray;
            }
        }

        .nav-link-icon {
            padding: 10px 15px;
        }
    }
}