.products-container {
    display: flex;
    column-gap: 10px;

    .food-form-input {
        text-align: center;
    }

    .search-button {
        background-color: white;

        .search-icon {
            width: 30%;
            height: 30%;
        }

    }



}