.products-container {
    display: flex;
    column-gap: 10px;

    .food-form-input {
        text-align: center;
        height: 150px;
        position: relative;
    }

    .search-button {
        background-color: white;
    }
}