.configure-macros-container {
    display: flex;
    flex-direction: column;
    width: 550px;
    text-align: center;
    margin: 0 auto;

    .buttons-container {
        padding-top: 40px;
        display: flex;
        flex-direction: colunm;
        justify-content: space-between;
    }

    h2 {
        margin: 10px 0;
    }

}

.label-button {
    size: 100px;
}