.configure-macros-container {
    display: flex;
    flex-direction: column;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    height: 600px;

    .buttons-container {
        padding-top: 40px;
        display: flex;
        flex-direction: colunm;
        justify-content: space-between;
    }

    h2 {
        margin: 10px 0;
    }

    .form-container {
        display: flex;

    }

}

.label-button {
    size: 100px;
}

.go-config-user-link {
    &:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out;
        border-bottom: 1px solid black;
    }
}