.footer-container {
    width: 100%;
    height: 120px;
    position: relative;
    border-top: 1px solid lightgray;
    padding-top: 25px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-items: center;

    .contact-container {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding-bottom: 40px;


        .gmail {
            display: flex;
            height: 30px;

        }

        .facebook {
            display: flex;
            height: 30px;
        }

    }

    .follow-container {
        height: 100%;
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding-bottom: 40px;


        .github {
            display: flex;
            height: 30px;
        }

        .linkedin {
            display: flex;
            height: 30px;
        }
    }
}