.set-macros-container {
    max-width: 50%;
    align-items: center;
    margin: auto;

    .set-macros-form {
        margin: auto;
        max-width: 40%;
    }

    .chart-container {
        width: 300px;
    }
}