.checkout-container {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    //align-items: center;
    margin: 10px auto 0;

    .checkout-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgrey;

        .header-block {
            text-transform: capitalize;


            &:first-child {
                float: left;
                width: 40%;
                font-size: 30px;
                font-weight: bolder;
            }


            &:last-child {
                float: right;
            }

            &:not(:first-child) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


    }

    .remaining-calories {
        margin: 10px;
        margin-bottom: 20px;
        display: flex;


        .calories-math {
            padding-right: 30px;


            &:not(:first-child) {
                padding-left: 30px;
            }
        }

        .span-math {
            margin-top: -20px;
        }
    }


    .add-food-btn-container {
        width: 200px;
        margin: auto;
        margin-top: 30px;
    }

}